<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Signup</title>
</head>
<body>
    <form action="/signup" method="post" enctype="multipart/form-data">
        <h1>Create Account</h1>
        <input type="text" name="username" id="username" placeholder="Username"><br>
        <input type="email" name="email" id="email" placeholder="Email"><br>
        <input type="file" name="profileImage" id="profileImage" accept=".jpg, .jpeg, .png"><br>
        <button type="submit">Signup</button>
    </form>
</body>
</html>