.card{
    background-color: rgb(50, 50, 107);
    /* height: 120px;
    width: 120px; */
    border-radius: 5px;
    overflow: hidden;
    padding: 2px;

}

img{
    height: 220px;
    width: 220px;
    object-fit: cover;
}


p{
    color: white;
    font-size: 14px;
}

