h1{
    font-size: 14px;
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.counter-container{
    display: flex;
    gap: 20px;
    justify-items: center;
    align-items: center;
}