*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 191, 223);
    padding: 10px 20px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.nav a:hover{
    color: black;
    background-color: rgb(110, 191, 223);
    border-radius: 5px;
}